body{text-align:center;}
#wheel{
  display:inline-block;
  position:absolute;
  overflow:hidden;
  animation: none;
  opacity: 0;
  margin-left: -80px;
  margin-top: 200px;
}
#wheel:after{
  content:"";
  background:red;
  border:2px solid white;
  position:absolute;
  top:-7px;
  left:50%;
  width:10px;
  height:10px;
  margin-left:-7px;
  transform: rotate(45deg)
}
.home{
	margin: 0 auto;
	z-index: 6;
}

.header{
	margin-left: 500px;
	position: absolute;
	font-size: 4em;
	z-index: 6;
	color: green;
}

.click_me{
	margin-left: 650px;
	margin-top: 500px;
	z-index: 6;
	color: white;
	position: absolute;
}

.curtain{
	background-color: red;
	z-index: 5;
}

.left_curtain{
	width: 750px;
	height: 800px;
	margin-left: 0px;
	position: absolute;
	animation: none;
}
.right_curtain{
	width: 750px;
	height: 800px;
	margin-left: 750px;
	position: absolute;
	animation: none
}

/*.wheel{
	width: 500px;
	height: 500px;
	background-color: orange;
	animation: none;
	margin-left: 450px;
	position: absolute;
	margin-top: -900px;
	z-index: 3;
}*/

#button{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: blue;
	margin-left: 1100px;
	position: absolute;
	z-index: 4;
}

#butt_title{
	position: absolute;
	margin-left: 15px;
	margin-top: 75px;
}

@keyframes flyin {
	0%{
		transform: translate(0px, -900px);
	}
	100%{
		transform: translate(0px, 0px);
	}
}

@keyframes open_l{
	0%{
		transform: translate(0px, 0px);
	}

	100%{
		transform: translate(-900px, 0px);
	}
}

@keyframes open_r{
	0%{
		transform: translate(0px, 0px);
	}

	100%{
		transform: translate(900px, 0px);
	}
}

@keyframes __disp__ {
	0%{
		opacity: 1.0;
	}
	100%{
		opacity: 0.0;
	}
}

@keyframes __fadeIn__ {
	0%{
		opacity: 0.0;
	}
	100%{
		opacity: 1.0;
	}
}
